.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: #f0ecdd;
  color: #1a1616;
}

.leaflet-popup-content {
  margin: 0;
  line-height: 1.3;
  font-size: 13px;
  font-size: 1.08333em;
  min-height: 1px;
}
.leaflet-popup-content p {
  margin: 17px 0;
  margin: 1.3em 0;
}
